.gallery
  .row
    .box.box1
      img.img(src="https://s6.postimg.cc/7skc8smf5/001.jpg", alt="")  
    .box.box2
      img.img(src="https://s6.postimg.cc/hwipfsyv5/019.jpg", alt="")
    .box.box3
      img.img(src="https://s6.postimg.cc/5zznyvh8h/p9.jpg", alt="")
  .row.row2
    .box.box1
      img.img(src="https://s6.postimg.cc/bqh9924xt/p18.jpg", alt="")  
    .box.box2
      img.img(src="https://s6.postimg.cc/hd8k9f14x/愛_.jpg", alt="")
    .box.box3
      img.img(src="https://s6.postimg.cc/beuqz6i69/013_.jpg", alt="")