.gallery
  .row
    .box.box1
      img.img(src="https://i.postimg.cc/44hggPMb/cat-1046544-1920.jpg", alt="")  
    .box.box2
      img.img(src="https://i.postimg.cc/hPWqPxRF/cat-1285634-1920.png", alt="")
    .box.box3
      img.img(src="https://i.postimg.cc/mkMfyZM6/cat-1455468-1920.jpg", alt="")
  .row.row2
    .box.box1
      img.img(src="https://i.postimg.cc/765ybnL4/cat-2083492-1920.jpg", alt="")  
    .box.box2
      img.img(src="https://i.postimg.cc/cJ9Ssb0T/cat-323262-1920.jpg", alt="")
    .box.box3
      img.img(src="https://i.postimg.cc/50DWzQHC/kitty-2948404-1920.jpg", alt="")